{% extends "movies/base.html" %}

{% block content %}

<div class="p-6 text-white">
    <h1 class="text-2xl mb-6">Mis Favoritos</h1>

    <div class="flex flex-wrap gap-4">
        {% for item in items %}
            <div class="w-40">
                <a href="/movies/{{ item.movie.id }}/">
                    <img src="https://image.tmdb.org/t/p/w300{{ item.movie.poster_path }}"
                         class="rounded-lg">

                    <p class="text-sky-400 mt-2">
                        {{ item.movie.title }}
                    </p>
                </a>
            </div>
        {% empty %}
            <p>No tienes favoritos aún.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}